<section class="reviews">
  <div class="container reviews-container">
    <h1>Reviews</h1>
    <div class="review-card">
      <img
        src="src/img/person2.webp"
        srcset="src/img/person2.webp 1x, src/img/person2@2x.webp 2x"
        alt="John Wax"
        class="review-image"
      />
      <h2 class="review-name">John Wax</h2>
      <p class="review-text">
        Buying a watch from was the best choice for me. The design is perfectly
        combined with high quality materials. The strap fits nicely on the hand,
        and the mechanism works flawlessly.
      </p>
    </div>
    <div class="review-card">
      <img
        src="src/img/person1.webp"
        srcset="src/img/person1.webp 1x, src/img/person1@2x.webp 2x"
        alt="Victoria Romashenko"
        class="review-image"
      />
      <h2 class="review-name">Victoria Romashenko</h2>
      <p class="review-text">
        Can't take my eyes off my watch from. Every time I put it on, it is
        admired by those around me. The build quality and attention to detail
        make it a real gem among my accessories.
      </p>
    </div>
    <div class="review-card">
      <img
        src="src/img/person3.webp"
        srcset="src/img/person3.webp 1x, src/img/person3@2x.webp 2x"
        alt="Anastasia Trachuk"
        class="review-image"
      />
      <h2 class="review-name">Anastasia Trachuk</h2>
      <p class="review-text">
        My watch from is a real masterpiece. Every detail impresses with the
        high quality of execution. Special features like [specify features] make
        it an indispensable companion in my daily life.
      </p>
    </div>
  </div>
</section>
