<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Raleway:wght@700&display=swap"
      rel="stylesheet"
    />

    <!--------modern-normalize--------->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Web Studio</title>
  </head>
  <section class="sale">
    <div class="container sale-container">
      <h2 class="sale-title">Sale</h2>
      <div class="sale-content">
        <div class="sale-list-div">
          <ul class="sale-list">
            <li class="sale-list-item">
              <img
                srcset="./img/sale1@2x.webp 2x"
                src="/img/sale1.webp"
                width="54"
                height="54"
                alt="1"
              />
            </li>
            <li class="sale-list-item">
              <img
                srcset="./img/sale2@2x.webp 2x"
                src="/img/sale2.webp"
                width="54"
                height="54"
                alt="2"
              />
            </li>
            <li class="sale-list-item">
              <img
                srcset="./img/sale3@2x.webp 2x"
                src="/img/sale3.webp"
                width="54"
                height="54"
                alt="3"
              />
            </li>
            <li class="sale-list-item">
              <img
                srcset="/img/sale4@2x.webp 2x"
                src="/img/sale4.webp"
                width="54"
                height="54"
                alt="4"
              />
            </li>
          </ul>
          <div class="sale-list-item-div2">
            <img
              srcset="/img/sale5@2x.webp 2x"
              src="/img/sale5.webp"
              width="235"
              height="285"
              alt="watch1"
            />
          </div>
        </div>
        <div class="sale-description">
          <div class="sale-description-title-div">
            <h3 class="sale-description-title">
              MARQ® Commander (Gen 2) - Carbon Edition
            </h3>
            <p class="sale-description-tag">Product tag: 706587</p>
          </div>
          <div class="sale-description-price">
            <div class="sale-price">
              <p class="sale-price-count">€1500</p>
            </div>
            <p class="sale-price-old">€3000</p>
          </div>

          <p class="sale-description-text">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>

          <ul class="sale-description-list">
            <li class="sale-description-list-tag">
              <a class="sale-description-text-tag">Fused carbon fiber</a>
            </li>
            <li class="sale-description-list-tag">
              <a class="sale-description-text-tag">Grade-5 Titanuim</a>
            </li>
            <li class="sale-description-list-tag">
              <a class="sale-description-text-tag">Athlete</a>
            </li>
            <li class="sale-description-list-tag">
              <a class="sale-description-text-tag">Golfer</a>
            </li>
            <li class="sale-description-list-tag">
              <a class="sale-description-text-tag">Commander</a>
            </li>
            <li class="sale-description-list-tag">
              <a class="sale-description-text-tag">Adventurer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</html>
