                           /* #region About us  */


     /*  About us Mobile */



 .about-us-container {
        display: flex;
        flex-direction: column;
        gap: 20px; 
 }
 .about-us-info {
        
        border-radius: 30px;
        background-color: #f3f3f3;
        padding: 40px 20px;
}
.about-us-title {
    font-size: 32px;
    line-height: 1;
    
    margin-bottom: 28px;
}
.about-us-text1 {
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 20px;
}
.about-us-text2 {
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 40px;
}
.about-us-view-catalog {

        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        color: #fbfbfb;
        background-color: #3350e9;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 160px;
        height: 48px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.about-us-view-catalog:hover,
.about-us-view-catalog:focus{
    background-color: #1f3cd4;;
}

.about-us-container-img {
     border-radius: 30px;
    padding: 0 0;
}


.image-about-us {
    width: 100%;
    
}  


     /* About us Tablet */

 @media screen and (min-width:768px){
.about-us.section {
        }
.about-us-info.container{
    max-width: 704px;
    margin-bottom: 40px;
    padding-right: 60px;
    padding-left: 60px;
    }
.about-us-container{
    max-width: 704px;
    }
.about-us-title{
    font-size: 48px;
    line-height: 0.91;
    padding-top: 80px;
    margin-bottom: 40px;
}
.about-us-text1,.about-us-text2{
    font-size: 16px;
}
.about-us-text2{
    margin-bottom: 60px;
}
.about-us-view-catalog{
    margin-bottom: 80px;
}
} 


   /* About us Desktop */

 @media only screen and (min-width: 1280px){
.about-us.section{
       
     }
.about-us-info.container {
        max-width: 580px;
        margin-bottom: 40px;
        padding-right: 60px;
        padding-left: 60px;
    }
.about-us-container{
        max-width: 1150px;
        flex-direction: row;
        align-items: flex-start;
        gap: 40px;
    }
.about-us-text2 {
    margin-bottom: 40px;
}
.image-about-us{
    max-width: none;
}

   }  
   
                          /* #endregion About us  */