.advertisement section {
  background-color: rgb(63, 80, 80);
  /* display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 100px; */
  border-radius: 30px;
  background-image: url(/src/img/m-advert.webp);
}

/* .advertisement-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 100px;
}
.container {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advertisement-caption {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.advertisement-accent {
  color: rgba(251, 251, 251, 0.5);
}
.advertisement-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
} */
